# Configuração do Firebase
FIREBASE_PROJECT_ID=grupo-de-estudos-dev
FIREBASE_STORAGE_BUCKET=grupo-de-estudos-dev.appspot.com

# Timezone padrão do sistema (padrão Brasil)
DEFAULT_TIMEZONE=America/Sao_Paulo

# Configuração dos Emuladores Locais
FIRESTORE_EMULATOR_HOST=localhost:8080
FIREBASE_AUTH_EMULATOR_HOST=localhost:9099
FIREBASE_STORAGE_EMULATOR_HOST=localhost:9199
